body {
    background-color: #0a0a0a; 
    color: #e6e6fa; 
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


header {
    background: linear-gradient(90deg, #1a1a1a, #3a3a3a);
    padding: 20px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h1, h2, h3 {
    color: #d8b3ff; 
}
nav {
    background: #121212; 
    padding: 10px 0;
}
nav ul {
    list-style: none;
    padding: 10px;
    text-align: center;
    background: #1a1a1a;
    display: flex;
    flex-wrap: wrap; 
 
    
    
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #e6e6fa;
    text-shadow: 0px 0px 10px #e6e6fa;
    font-weight: 600;
}

img {
    max-width: 100%; 
    max-height: 500px;
    height: auto; 
    display: block;
    margin: 20px auto; 
    object-fit: contain; 
    box-shadow: 0 0 10px rgba(230, 230, 250, 0.5);
    border-radius: 10px; 
}

.btn {
    background: #d8b3ff;
    color: #0a0a0a;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    box-shadow: 2px 2px 12px rgba(216, 179, 255, 0.7);
    
}

.btn:hover {
    background: #b38bff;
    box-shadow: 0px 0px 15px #e6e6fa;
}


input, textarea {
    background: #1a1a1a;
    color: white;
    border: 1px solid #d8b3ff;
    padding: 10px;
    width: 100%;
    margin-bottom: 12px;
    border-radius: 5px;
}

button[type="submit"] {
    background: #d8b3ff;
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
    font-weight: 600;
}

button[type="submit"]:hover {
    background: #b38bff;
}
#quick-links {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh; 
}

#quick-links .links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

#quick-links .btn {
    margin-top: 20px;
}

.content {
    flex: 1; 
    padding: 20px;
    text-align: center;
}

footer {
    background: #121212;
    text-align: center;
    padding: 10px;
    position: static;
    bottom: 0;
    width: 100%;
}
